.img-thumbnail{
margin: 25px;
width: 85%;
height: 85%;

}

.card:hover{
    transform: scale(1.01, 1.01);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}

.card:hover img{
    transform: scale(1.01, 1.01);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}

.card img{
    transform: scale(1.0, 1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}


.card{
    transform: scale(1.0, 1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.card-body{
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.tab-panel:hover{
    transform: scale(1.01, 1.01);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}

.tab-panel:hover img{
    transform: scale(1.01, 1.01);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}

.tab-panel img{
    transform: scale(1.0, 1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
}


.tab-panel{
    transform: scale(1.0, 1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
