<div class="card" #chat id="card">
  <div class="card-body" id="cardBody">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hi by using the message box below</p>
    </div>

    <div class="chat">
      <div *ngFor="let message of messages">
        <div *ngIf="message.senderId == recipientId" class="media w-50 mb-3" >
          <img
            src="{{ message.senderPhotoUrl }}"
            alt="user"
            width="50"
            class="rounded-circle"
          />
           <!-- Sender Message-->
          <div class="media-body ml-3">
            <strong class="small primary-font">{{
              message.senderKnownAs
            }}</strong>
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">{{ message.content }}</p>
            </div>
            <p *ngIf="!message.isRead" class="small text-success">
              (Delivered)
            </p>
            <p *ngIf="message.isRead" class="small text-info">(Read)</p>
            <p class="small text-muted">{{ message.messageSent | timeago}}</p>
          </div>
        </div>

        <!-- Receiver Message-->
        <div
          class="media w-50 ml-auto mb-3"
          *ngIf="message.senderId != recipientId"
        >
          <div class="media-body">
            <div class="bg-primary rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-white">{{ message.content }}</p>
            </div>
            <p *ngIf="!message.isRead" class="small text-success">
              (Delivered)
            </p>
            <p *ngIf="message.isRead" class="small text-info">(Read)</p>
            <p class="small text-muted">{{ message.messageSent | timeago }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
  <form
    #messageForm="ngForm"
    (ngSubmit)="messageForm.valid && sendMessage()"
    class="bg-light"
  >
    <div class="input-group">
      <input
        [(ngModel)]="newMessage.content"
        name="content"
        required
        type="text"
        class="form-control input-sm"
        placeholder="send a private message"
        aria-describedby="button-addon2"
        class="form-control rounded-0 border-0 py-4 bg-light"
      />
      <div class="input-group-append">
        <button id="button-addon2" type="submit" class="btn btn-link">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </form>
</div>
