<!-- home page html -->

<div
  *ngIf="!registerMode"
  class="mt-5 ml-5 col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3"
>
  <h1 class="homeComp text-center">Start a Sizzle</h1>
  <p id="homeText" class="homeComp mt-4 text-center">
    Every 5 minutes a new match is sizzling. What are you waiting for? Sign up
    today!
  </p>

  <!--
  <div class="text-center">
    <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
      Register
    </button>
    <button class="btn btn-info btn-lg">Learn More</button>
  </div>
--></div>

<div *ngIf="!registerMode" class="mr-5 mt-5 text-right">
  <img src="\assets\couple-in-black-hi.png" id="couple" />
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>
